# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

##################################################################################
 Ignored IntelliJ project setting files
 Ref:https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
##################################################################################
.idea
